.btn {
    height: 50px;
    width: 130px;
    border: none;
    border-radius: 6px;
    background-color: #FF4742;
    color: #ffffff;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
    margin: 1em 0;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #faf0e6;
  background-position: 0 0;
  color: #FF4742;
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
  outline: none;
}

.btn-24:active,
.btn:focus {
  opacity: .5;
}



